# Variables are the type of containers where we stoe the actual value.

In [1]:
a=16
b=34.8
print(a) #directly printing the value.

16

In [2]:
a=32
b=45.9
print("value of a:",a)  #writing print in a statement.

value of a: 32

In [3]:
#here we used formating.
#formating string is used to write multiple print statements in a single print statements. 
a=34.6
b=23
print(f"value of a is {a} and value of b is {b}")

value of a is 34.6 and value of b is 23

# DataType:defines the form of storage.

In [5]:
a=99
print(type(a))
b=34.6
print(type(b))
c="python"
print(type(c))
d=True
print(type(d))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

# Sequence datatypes:stores multiple values in single varable.

In [7]:
#list
#list is written in square brackets.
data1=[12,45,67,89,90]
print(data1)
print(type(data1))

[12, 45, 67, 89, 90]
<class 'list'>

In [14]:
#Tuple
#tuple is written in parenthesis.
data2=(34,56,77,88,90)
print(data2)
print(type(data2))

(34, 56, 77, 88, 90)
<class 'tuple'>

In [13]:
#set
#set is written in curly brackets.
data3={22,45,89,45,63}
print(data3)
print(type(data3))

{89, 45, 22, 63}
<class 'set'>

In [12]:
#dictionary
#dictionary stores the values as key:value.
data4={"std_id":23,"std_name":"YGV"}
print(data4)
print(type(data4))

{'std_id': 23, 'std_name': 'YGV'}
<class 'dict'>

# Operators

## Comparision operators

In [15]:
a=21
b=2
print("equal",a==b)
print("not equal",a!=b)

equal False
not equal True

In [16]:
a=21
b=21
print("equal",a==b)
print("not equal",a!=b)
print("greater",a>b)
print("lesser",a<b)

equal True
not equal False
greater False
lesser False

In [17]:
a=21
b=21
print("equal",a==b)
print("not equal",a!=b)
print("greater or equal",a>=b)
print("lesser or equal",a<=b)

equal True
not equal False
greater or equal True
lesser or equal True

## Arithmetic operator

In [19]:
num1=10
num2=3
print("addition",num1+num2)
print("subtraction",num1-num2)
print("multiplication",num1*num2)
print("division",num1/num2)
print("remainder",num1//num2)
print("exponent",num1**num2)

addition 13
subtraction 7
multiplication 30
division 3.3333333333333335
remainder 3
exponent 1000

## Assignment operator

In [21]:
a=12
b=26
print("value of a",a)
print("value of b",b)
a+=b
print("value of a",a)
a-=b
print("value of a",a)
a*=b
print("value of a",a)

value of a 12
value of b 26
value of a 38
value of a 12
value of a 312

## Logical operator

### And:all must be true

In [23]:
c1=True
c2=False
c3=True
c4=False
print(c1 and c2 and c3 and c4)

False

### Or:either one of the value must be true

In [24]:
c1=False
c2=False
c3=True
c4=False
print(c1 or c2 or c3 or c4)

True

### Not:Negation(opposite value)

In [25]:
c1=True
c2=False
print(not c1)
print(c1 or c2)
print(not(c1 or c2))

False
True
False

## Membership operator

In [26]:
data="water"
print("o" in data) #looking for value.
print("o" not in data) #not looking for the value(element must not be present)

False
True

In [27]:
a=500
b=500
print(a is b) #identical must

False

In [29]:
a=500
b=500
print(a is c)
print(b is not c)
print(b is c)

False
True
False

# Addition of two numbers

In [31]:
a=10
b=20
c=a+b
print(c)

30

### input():-

In [32]:
a=input("enter a value: ")
print("value of a",a)

enter a value: q
value of a q

In [34]:
a=input("enter a value")
b=input("enter b value")
c=a+b
print(c) #concatenation value

enter a value20
enter b value30
2030

In [35]:
a=int(input("enter a value"))
b=int(input("enter b value"))
print(type(a))
c=a+b
print(c)

enter a value21
enter b value3
<class 'int'>
24

## Conditional statements

In [36]:
print("hello")
print("welcome")
print("to python")

hello
welcome
to python

## Check for the number greater than 100

In [1]:
a=int(input("enter a value"))
print(a>100)

enter a value40
False

In [2]:
a=int(input("enter a value"))
print(a>100)
if a>100:
    print("good")
print("thankyou")

enter a value600
True
good
thankyou

In [3]:
a=int(input("enter a value"))
if a>100:
    print("good")
print("thankyou")

enter a value89
thankyou

In [4]:
a=int(input("enter a value"))
if a>100:
    print("good")
print("thankyou")

enter a value67
thankyou